
.idea/misc.xml
__pycache__/utils.cpython-311.pyc
.idea/misc.xml
tests/__pycache__/test_product.cpython-311.pyc
__pycache__/locators.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
tests/__pycache__/test_product.cpython-311.pyc
*.pyc
pages/__pycache__/__init__.cpython-311.pyc
tests/__pycache__/test_login_sign_up.cpython-311.pyc
